body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #5465FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.login-container {
    background: #e2fdff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #5465FF;
}

.login-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.password-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 75%;
    right: -10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #7888ff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #5465FF;
}

.role-info {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

/* Responsive Design */
@media (min-width: 768px) {
    .login-container {
        padding: 40px;
    }

    h1 {
        font-size: 28px;
    }

    .login-btn {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .login-container {
        max-width: 500px;
    }

    h1 {
        font-size: 32px;
    }
}
